@import '@styles/variables';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding-block: 20px;
  }

  &__logo {
    width: 64px;
    height: 64px;
    stroke-width: 2px;
  }

  &__title {
    font-size: clamp(24px, 2.22vw, 32px);
    text-transform: uppercase;
  }
}
