@import '@styles/variables';

.button {
  display: block;
  padding: 20px 35px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  border-radius: $border-radius-s;
  color: $color-white;
  background-color: $color-dark;
  cursor: pointer;

  &:hover {
    color: $color-dark;
    background-color: $color-white;
  }
}
