$color-white: #f4f1de;
$color-red: #e07a5f;
$color-green: #81b29a;
$color-dark: #3d405b;

$border-radius-xs: 5px;
$border-radius-s: 10px;

$shadow-dark: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);

$font-family-base: 'Bitter', serif;

$transition-duration: 0.2s;

$container-width: 1240px;
$container-padding-x: 20px;
