@import './normalize';
@import './fonts';
@import './variables';
@import './utils';

body {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: $color-white;
  background-color: $color-green;
}

a,
button {
  transition-duration: $transition-duration;
}

h1,
h2 {
  font-weight: 700;
  line-height: 1;
}
